// For typefaces check bootstrap _variables.scss

body {
  background-color: $white;
  padding-top: 5%;
  //font-family: 'Vollkorn', serif;
}

p {
  //font-size: 1rem;
}

a {
  color: $lightblue;
}

::selection {
  background-color: $lightblue;
  color: $white;
}

.underline-hover:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.ib {
  display: inline-block;
}

.hidden {
  display: none;
}
