---
layout: layout2
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="name">Mihai "<span class="accent-blue">Aquarius Due</span>" Dumitru</h1>
      <h2 id="tagline">&mdash; Web Developer &mdash;</h2>
      <p id="about-me">Hi there! I'm Mihai and Aquarius Due online. While you're here why not check out my latest blog post about <a href="#">how I made this website</a>. For more technical stuff check out my <a href="#">projects</a>.</p>
      <div class="twitter-feed">
        <h3>My latest tweets</h3>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag "me-bw-square.jpg", :id => "my-photo" %>
    </div>
  </div>
</div>
