---
layout: layout2
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="name">Mihai "<span class="accent-blue">Aquarius Due</span>" Dumitru</h1>
      <h2 id="tagline">&mdash; Web Developer &mdash;</h2>
      <p id="about-me">Hi there! I'm Mihai and Aquarius Due online. While you're here why not check out my latest blog post about <a href="#">how I made this website</a>. For more technical stuff check out my <a href="#">projects</a>.</p>
      <div class="twitter-feed">
        <h3 class="ib">My latest tweets</h3>
        <div class="social-icons">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-animation" id="twitter-icon" viewBox="0 0 611 498" width="100%" height="100%">
            <g id="layer1">
            </g>
              <path id="path3878" d="M177.94 497.935c-44.143-1.78-86.185-11.117-126.14-28.013-18.354-7.76-53.137-26.48-51.76-27.857.17-.17 2.83-.02 5.914.335 8.636.993 37.22.834 47.335-.264 43.81-4.75 81.5-18.417 117.283-42.523 7.966-5.367 12.48-8.796 12.48-9.48 0-.25-2.12-.618-4.71-.82-44.596-3.483-83.39-29.097-103.45-68.3-3.948-7.718-7.826-17.624-7.16-18.29.295-.295 1.754-.268 3.658.07 6.29 1.11 17.77 1.783 24.436 1.43 10.542-.557 24.814-2.838 25.587-4.088.16-.26-.746-.736-2.014-1.058-22.74-5.788-41.855-16.386-58.23-32.283-14.562-14.138-24.832-30.35-31.53-49.774-3.85-11.164-6.503-25.922-6.503-36.16 0-4.517.107-5.09.957-5.09.526 0 1.45.347 2.054.77 2.025 1.418 12.11 5.658 18.714 7.866 3.598 1.204 10.056 2.904 14.35 3.78 8.386 1.707 19.145 2.703 18.785 1.737-.115-.307-2.268-2.102-4.785-3.99-9.004-6.75-20.806-19.197-27.336-28.828-11.46-16.905-19.062-37.623-21.16-57.676-.824-7.88-.372-26.638.808-33.5 1.258-7.318 3.81-17.1 6.027-23.1 2.926-7.916 8.706-19.542 9.616-19.34.42.095 2.498 2.23 4.615 4.748 25.06 29.804 58.03 57.456 92.583 77.647 42.914 25.076 86.926 39.716 139.726 46.48 6.28.803 21.06 1.74 21.45 1.356.246-.242-.08-3.68-.73-7.636-2.26-13.8-2.032-30.66.604-44.455C309.514 48.75 352.637 8.107 406.508.69c6.63-.913 26.782-.922 33.114-.015 26.688 3.823 51.25 15.56 69.778 33.344 3.782 3.63 5.57 4.987 6.57 4.987 2.398 0 20.782-4.836 29.736-7.822 14.53-4.845 32.59-12.87 44.776-19.894 2.01-1.158 3.462-1.7 3.667-1.368.186.303-.79 3.396-2.168 6.875-9.187 23.185-25.155 43.218-45.714 57.353-4.7 3.23-4.818 3.362-3.184 3.52 2.565.25 17.04-2.397 27.74-5.072 11.12-2.78 23.118-6.667 33.198-10.757 3.946-1.6 7.3-2.91 7.45-2.91.37 0-3.784 5.846-9.666 13.604-12.606 16.626-30.577 34.552-47.578 47.458l-4.898 3.718-.294 19.973c-.38 25.8-2.054 42.173-6.634 64.933-6.655 33.073-16.824 62.54-32.334 93.69-8.236 16.54-13.34 25.455-22.507 39.306-55.28 83.52-138.174 136.904-236.124 152.06-22.61 3.5-51.254 5.16-73.497 4.263z" style="fill-opacity:1"/>
          </svg>
        </div>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
        <div class="tweet">
          <div class="tweet-header">
            <a class="twitter-username-link" href="#">Mihai Dumitru <span class="twitter-username">@AquariusDue</span></a>
            <small class="tweet-date">5 Sep 2015</small>
          </div>
          <div class="tweet-content">
            <p>First time I played @SubRosaGame was when @rockpapershot recommended it. http://www.crypticsea.com/subrosa/  feels like such a long time ago.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="photo-container">
      <%= image_tag "me-bw-square.jpg", :id => "my-photo" %>
      <div id="social-media">
        <div class="social-icons">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-animation" id="twitter-icon" viewBox="0 0 611 498" width="100%" height="100%">
            <g id="layer1">
            </g>
              <path id="path3878" d="M177.94 497.935c-44.143-1.78-86.185-11.117-126.14-28.013-18.354-7.76-53.137-26.48-51.76-27.857.17-.17 2.83-.02 5.914.335 8.636.993 37.22.834 47.335-.264 43.81-4.75 81.5-18.417 117.283-42.523 7.966-5.367 12.48-8.796 12.48-9.48 0-.25-2.12-.618-4.71-.82-44.596-3.483-83.39-29.097-103.45-68.3-3.948-7.718-7.826-17.624-7.16-18.29.295-.295 1.754-.268 3.658.07 6.29 1.11 17.77 1.783 24.436 1.43 10.542-.557 24.814-2.838 25.587-4.088.16-.26-.746-.736-2.014-1.058-22.74-5.788-41.855-16.386-58.23-32.283-14.562-14.138-24.832-30.35-31.53-49.774-3.85-11.164-6.503-25.922-6.503-36.16 0-4.517.107-5.09.957-5.09.526 0 1.45.347 2.054.77 2.025 1.418 12.11 5.658 18.714 7.866 3.598 1.204 10.056 2.904 14.35 3.78 8.386 1.707 19.145 2.703 18.785 1.737-.115-.307-2.268-2.102-4.785-3.99-9.004-6.75-20.806-19.197-27.336-28.828-11.46-16.905-19.062-37.623-21.16-57.676-.824-7.88-.372-26.638.808-33.5 1.258-7.318 3.81-17.1 6.027-23.1 2.926-7.916 8.706-19.542 9.616-19.34.42.095 2.498 2.23 4.615 4.748 25.06 29.804 58.03 57.456 92.583 77.647 42.914 25.076 86.926 39.716 139.726 46.48 6.28.803 21.06 1.74 21.45 1.356.246-.242-.08-3.68-.73-7.636-2.26-13.8-2.032-30.66.604-44.455C309.514 48.75 352.637 8.107 406.508.69c6.63-.913 26.782-.922 33.114-.015 26.688 3.823 51.25 15.56 69.778 33.344 3.782 3.63 5.57 4.987 6.57 4.987 2.398 0 20.782-4.836 29.736-7.822 14.53-4.845 32.59-12.87 44.776-19.894 2.01-1.158 3.462-1.7 3.667-1.368.186.303-.79 3.396-2.168 6.875-9.187 23.185-25.155 43.218-45.714 57.353-4.7 3.23-4.818 3.362-3.184 3.52 2.565.25 17.04-2.397 27.74-5.072 11.12-2.78 23.118-6.667 33.198-10.757 3.946-1.6 7.3-2.91 7.45-2.91.37 0-3.784 5.846-9.666 13.604-12.606 16.626-30.577 34.552-47.578 47.458l-4.898 3.718-.294 19.973c-.38 25.8-2.054 42.173-6.634 64.933-6.655 33.073-16.824 62.54-32.334 93.69-8.236 16.54-13.34 25.455-22.507 39.306-55.28 83.52-138.174 136.904-236.124 152.06-22.61 3.5-51.254 5.16-73.497 4.263z" style="fill-opacity:1"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
